body {
  padding: 50px;
  font: 16px "times new roman", sans-serif;
  background-color: #f0d9aa;
}

a {
  color: #00B7FF;
}

.homeTitle
{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 210px;
}

.homepage
{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-title
{
  font-weight: bold;
}

.card-body
{
  text-align: center;
  margin-top: 40px;
}

.carousel 
{
  background-color: #ecbc5e;; 
}

.carousel .box
{
  color:black
}

.carousel .box 
{
  max-width: 900px;    /* wider box */
  margin: 0 auto;      /* center it */
  text-align: center;  
  padding: 60px 40px;  /* more space inside */
  font-size: 18px;    /* slightly larger text */
}

.carousel h3 
{
  font-size: 20px;
  font-weight: bold;
}

.carousel p 
{
  margin-top: auto ;
}

.card-title2
{
  font-weight: bold;
}

.card-body2
{
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

.projects 
{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.aboutme 
{
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
    font-weight: bold;
}

.thicker-border 
{
    border: 3px solid black;
    border-radius: 5px;
}

.video-container 
{
    text-align: center; 
    margin-top: 20px;   
    margin-bottom: 20px; 
}

.button2
{
  background-color: #ecbc5e;
  color: black;
}

.aboutmetitle
{
    text-align: center; 
    margin-top: 150px;   
    margin-bottom: 10px; 
    font-weight: bold;
    font-size: 36px;
}

.clear
{
    clear: both;
}