
<div class="card" style="width: 18rem;">
  <img src="/images/mypic.png" class="card-img-top" width="215" height="355" alt="My Picture">
  <div class="card-body">
    <p class="card-text">
      Hi my name is Areeba Alam. I am a second year student at Ontario Tech University studying Networking & IT Security. 
      I chose this program because I am passionate about technology and I enjoy learning how networks operate and how to protect them from security threats. 
      So far I enjoy working on labs involving routing, switching, and cybersecurity fundamentals. Outside of school I like to watch movies, hang out with friends and family, and go swimming. 
      My goal for the future is to build a career in cybersecurity, specializing in network security and cyber defense.
      A fun fact about me is that I'm the oldest of three siblings. I have two younger brothers—one in high school and the other still in elementary school—which definitely keeps life interesting! 
      In my free time, I love watching movies. The last one I watched was Bad Guys 2, which I really enjoyed, but my all-time favorite will always be Divergent. 
      I'm also a big fan of swimming, especially at waterparks. During the summer, you'll often find me spending time with my family at different parks and enjoying the water rides.
      When I'm not swimming or watching movies, I enjoy hanging out with my friends and family whenever I get the chance.
    </p>
  </div>
</div>