<%- include partials/header %>
<%- include partials/main_nav %>
<script src="/Scripts/form_validation"></script>
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="firstName"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
        Please Enter your First Name.
      </div>

  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="LastName"  required>
    <div class="valid-feedback">
      Looks good!
    </div>

    <div class="invalid-feedback">
        Please Enter Your Last Name.
      </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Any Comments:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

  <!-- Submit Button -->
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<%- include partials/footer %>
