<%- include partials/header  %>
<%- include partials/main_nav %>
<h1 class="homeTitle">Home Page</h1>
    <div class="homepage">
        <div class="card mx-auto" style="max-width: 640px; max-width: 700px;">
            <div class="row g-0">
                 <div class="col-md-4">
                    <img src="/Asset/images/Hello.png" class="img-fluid rounded-start" alt="helloPic">
                 </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Welcome</h5>
                        <p class="card-text">Hello! My name is Areeba Alam. Welcome to my portfolio website. 
                        Here, you can find information About Me, my Projects, and how to Contact Me.
                        </p>
                </div>
            </div>
        </div>
    </div>
<%- include partials/footer %>
