<%- include partials/header  %>
<%- include partials/main_nav %>
        <div class="welcome"> <!-- Div element with class "welcome" for styling -->
            <p> <!-- Paragraph element to hold welcome text -->
                Welcome to my portfolio website! Here, you can learn about me, explore my projects, and get in touch.
                Feel free to navigate through the different sections using the menu above.
            </p>
        </div>

        <div class="clear"></div> <!-- Clearfix to ensure proper layout after floating elements -->
    
<%- include partials/footer %>
