<%- include partials/header  %> <!-- Include the header partial -->
<%- include partials/main_nav %> <!-- Include the main navigation partial -->

<h1 class="homeTitle">Home Page</h1> <!-- Main heading for the Home page -->
    <div class="homepage"> <!-- Container for the homepage content -->
        <div class="card mx-auto" style="max-width: 640px; max-width: 700px;"> <!-- Card container with maximum width -->
            <div class="row g-0"> 
                 <div class="col-md-4"> 
                    <img src="/Asset/images/Hello.png" class="img-fluid" alt="helloPic"> <!-- Image element to display a picture -->
                 </div>
            <div class="col-md-8">
                <div class="card-body"> <!-- Card body for text content -->
                    <h5 class="card-title">Welcome</h5> <!-- Subheading for the welcome section -->
                        <p class="card-text">Hello! My name is Areeba Alam. Welcome to my portfolio website. 
                        Here, you can find information About Me, my Projects, and how to Contact Me.
                        </p>
                </div>
            </div>
        </div>
    </div>
    
<%- include partials/footer %> <!-- Include the footer partial -->
