<!DOCTYPE html> 
<html>
  <head>
    <title><%= title %> page</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/Content/app.css" />
    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">My Express Portfolio Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(title === 'Home'){ %>
            <a class="nav-link active" aria-current= "page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'About Me'){ %>
            <a class="nav-link active" aria-current= "page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About Me</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About Me</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'Projects'){ %>
            <a class="nav-link active" aria-current= "page" href="/projects"><i class="fa-solid fa-lg fa-diagram-project"></i> Projects</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/projects"><i class="fa-solid fa-lg fa-diagram-project"></i> Projects</a>
            <% } %>
          </li>
          
          <li class="nav-item">
            <% if(title === 'Contact Me'){ %>
            <a class="nav-link active" aria-current= "page" href="/contactme"><i class="fa-solid fa-lg fa-phone"></i> Contact Me</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/contactme"><i class="fa-solid fa-lg fa-phone"></i> Contact Me</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

      <footer class="bg-dark text-center text-lg-start text-white mt-4">
      <div class="container py-3">
        <ul class="navbar-nav justify-content-center mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(title === 'Home'){ %>
            <a class="nav-link active text-white" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } else { %>
            <a class="nav-link text-white" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'About Me'){ %>
            <a class="nav-link active text-white" aria-current="page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About Me</a>
            <% } else { %>
            <a class="nav-link text-white" aria-current="page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About Me</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'Projects'){ %>
            <a class="nav-link active text-white" aria-current="page" href="/projects"><i class="fa-solid fa-lg fa-diagram-project"></i> Projects</a>
            <% } else { %>
            <a class="nav-link text-white" aria-current="page" href="/projects"><i class="fa-solid fa-lg fa-diagram-project"></i> Projects</a>
            <% } %>
          </li>
          
          <li class="nav-item">
            <% if(title === 'Contact Me'){ %>
            <a class="nav-link active text-white" aria-current="page" href="/contactme"><i class="fa-solid fa-lg fa-phone"></i> Contact Me</a>
            <% } else { %>
            <a class="nav-link text-white" aria-current="page" href="/contactme"><i class="fa-solid fa-lg fa-phone"></i> Contact Me</a>
            <% } %>
          </li>
        </ul>
        <div class="text-center">
          © 2025 Areeba Alam
        </div>
    </footer>
  </body>
</html>
