<div class="list-group">
    <div class="list-group-item active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Project 1: Library Management System</h5>
        </div>
        <p class="mb-1">
            This project was developed in Python. Its goal was to create a simple library system that allows users to
            check out, return, and request books, movies, and articles.
        </p>
    </div>

    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Project 2: Leadership Report</h5>
        </div>
        <p class="mb-1">
            For this assignment, we worked in a group of four to research the topic <em>Women's Leadership in Sports
                Organizations</em>.
            Together, we wrote an essay and created a presentation, applying the different theories learned in class to
            support our analysis.
        </p>
    </div>

    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Project 3: Introduction to Networking I Project</h5>
        </div>
        <p class="mb-1">
            In this project, we were told to create addressing schemes for three different IP networks.
            Using these schemes, we then designed and configured a network topology in Cisco Packet Tracer.
        </p>
    </div>

    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Project 4: Introduction to Networking II Case Study</h5>
        </div>
        <p class="mb-1">
            This project was done in Introduction to Networking II. It involved creating a network topology and
            configuring it to enable communication between different parts of the network through pings.
            The project included setting up VLANs and BGP routing using Cisco Packet Tracer.
        </p>
    </div>
</div>