<h2> Projects</h2> <!-- Second header for the Projects section -->
        <article> <!-- Article element to group related content -->
            <section class="box"> <!-- Section element to divide content into groups -->
                <h3>Project 1: Library Management System</h3> <!-- Third header for each project -->
                <p>This project was developed in Python. Its goal was to create a simple library system that allows users to
                check out, return, and request books, movies, and articles.</p> <!-- Description of the project -->
            </section>

            <section class="box"> <!-- Section element to divide content into groups -->
                <h3>Project 2: Leadership Report</h3> <!-- Third header for each project -->
                <p>For this assignment, we worked in a group of four to research the topic Women's Leadership in Sports
                Organizations. Together, we wrote an essay and created a presentation, applying the different theories
                learned in class to support our analysis.</p> <!-- Description of the project -->
            </section>

            <section class="box"> <!-- Section element to divide content into groups -->
                <h3>Project 3: Introduction to Networking I Project</h3> <!-- Third header for each project -->
                <p>In this project, we were told to create addressing schemes for three different IP networks. 
                    Using these schemes, we then designed and configured a network topology in Cisco Packet Tracer.</p> <!-- Description of the project -->
            </section>

            <section class="box"> <!-- Section element to divide content into groups -->
                <h3>Project 4: Introduction to Networking II Case Study</h3> <!-- Third header for each project -->
                <p>This project was done in Introduction to Networking II. It involved creating a network topology and
                configuring it to enable communication between different parts of the network through pings. The project included setting up 
                VLANs and BGP routing using Cisco Packet Tracer.</p> <!-- Description of the project -->
            </section>
        </article>

        <div class="clear"></div> <!-- Clearfix to ensure proper layout after floating elements -->