<%- include partials/header  %>
<%- include partials/main_nav %>

<h4 class="aboutmetitle"> About Me: Video</h4>
    <script src="Script/video.js" defer></script> <!-- Link to the JavaScript file -->
    <div class= "video-container">
            <video  class="vid" id="video" controls width="520" height="300" autoplay muted loop poster="/Asset/images/image.png" preload="auto"> <!-- Video element to embed a video in the web page -->
                <source src="Asset/video/AboutMe.mp4" type="video/mp4"> <!-- Source of the video file in MP4 format -->
            </video>
            <br>
            <!--Add functionality to this button we need to write function in javascript-->
            <button class="button2" onclick="playPause()">Play or pause the video</button>
        </div>

<%- include partials/footer %>
