      <footer> 
        <nav class="navbar fixed-bottom navbar-dark bg-dark"> <!-- Footer Navbar -->
          <div class="container-fluid"> <!-- Container for Footer content -->
            <div class="footerbtns"> <!-- Footer Buttons -->
              <a href="/home"><button class="btn btn-sm btn-secondary mx-1">Home</button></a> <!-- Home button -->
              <a href="/aboutme"><button class="btn btn-sm btn-secondary mx-1">About Me</button></a> <!-- About Me button -->
              <a href="/projects"><button class="btn btn-sm btn-secondary mx-1">Projects</button></a> <!-- Projects button -->
              <a href="/contactme"><button class="btn btn-sm btn-secondary mx-1">Contact Me</button></a> <!-- Contact Me button -->
            </div>

            <!-- Centered Copyright and Social Links -->
             <a class="navbar-brand" href="#" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            &copy; All Rights Reserved
            </a>

               <div class="links"> <!-- Social Media Links -->
              <a href="https://github.com/Aree06/Assignment-2" class="mx-2"> <i class="fa-brands fa-lg fa-github"></i></a> <!-- GitHub link -->
              <a href="https://www.linkedin.com/in/areeba-alam-2b023b397/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- LinkedIn link -->
            </div>
            </div>    
          </div>
        </nav>
    </footer>