      <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="footerbtns">
              <a href="/home"><button class="btn btn-sm btn-secondary mx-1">Home</button></a>
              <a href="/aboutme"><button class="btn btn-sm btn-secondary mx-1">About Me</button></a>
              <a href="/projects"><button class="btn btn-sm btn-secondary mx-1">Projects</button></a>
              <a href="/contactme"><button class="btn btn-sm btn-secondary mx-1">Contact Me</button></a>
            </div>

             <a class="navbar-brand" href="#" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            &copy; All Rights Reserved
            </a>

               <div class="links">
              <a href="https://github.com/Aree06/Assignment-2" class="mx-2"> <i class="fa-brands fa-lg fa-github"></i></a>
              <a href="https://ca.linkedin.com/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a>
            </div>
            </div>    
          </div>
        </nav>
    </footer>